<div class="top_container">    
    <div class="top_card">
        <h1 class="top_title">This is the main title</h1>
        <p class="top_description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mandatory site link <a class="top_link" href="https://twitter.com/">here</a>. 
            Deleniti praesentium cupiditate distinctio consequatur repudiandae laren recusandae ipsum suscipit alias.
        </p>
        <button class="top_button">Button</button>
    </div>
    <img class="top_image" src="https://static.dezeen.com/uploads/2012/06/dezeen_twitter-bird.gif" alt="dezeen_twitter-bird">
</div>
